* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(62, 136, 90);
  color: rgb(66, 66, 66);
  font-size: 14px;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  background-color: rgba(192, 192, 192, 0.678);
  padding: 20px;
  align-items: flex-start;
  border-radius: 3px;
  box-sizing: border-box;
  min-height: 700px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  margin: 0;
  margin-bottom: 20px;
}

.cards-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  border-radius: 3px;
  box-sizing: border-box;
  gap: 10px;
  margin-bottom: 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px;
  width: 100%;
  min-height: 50px;
  padding: 16px;
  border-bottom: 1px solid rgb(139, 139, 139);
  cursor: grab;
}

.card-text {
  width: 90%;
}

.placeholder {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 3px;
  width: 100%;
}

.card.dragged {
  opacity: 0.5;
  cursor: grabbing;
}

.delete-btn {
  visibility: hidden;
}

.delete-btn.active {
  visibility: visible;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: rgb(192, 17, 17);
  cursor: pointer;
  margin-left: 10px;
}

.btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: rgb(102, 102, 102);
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

.btn.overlapped {
  display: none;
}

.new-card-form {
  display: none;
}

.new-card-form.active {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
}

.input {
  width: 100%;
  font-size: 14px;
  min-height: 70px;
  color: gray;
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  border: none;
  padding: 10px;
  border-bottom: 1px solid rgb(139, 139, 139);
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-size: 14px;
}

.input.invalid {
  border: 1px solid rgb(192, 17, 17);
}

.buttons {
  display: flex;
}

.add-btn {
  background-color: green;
  border: none;
  color: white;
  font-size: 14px;
  width: 92px;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 20px;
}

.close-btn {
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: rgb(192, 17, 17);
  cursor: pointer;
}
